.TaskPopup {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: var(--black_1);
  &-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--purple_100);
    border-radius: 1rem;
    width: 100%;
    max-width: 90%;
    max-height: 90%;
    min-height: 50%;

    @media screen and (min-width: 768px) {
      max-width: 600px;
    }
  }
  &-close {
    position: absolute;
    top: 0rem;
    right: 0rem;
    padding: 0.75rem;
    outline: none;
    border: none;
    background: none;
    line-height: 1;
    cursor: pointer;
  }
  &-close-icon {
    width: 32px;
    height: 32px;
    fill: var(--white_0);
  }
  &-image-wrap {
    max-width: 100%;
    margin-bottom: 1rem;
    min-height: 300px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.5rem 0.5rem 0 0;
  }

  &-title {
    margin-bottom: 1rem;
    color: var(--white_0);
    font-size: 1.75rem;
  }
  &-text-container {
    padding: 0 1rem 1rem 1rem;
  }
  &-description {
    color: var(--white_0);
    font-size: 1.25rem;
    letter-spacing: 0.03rem;
    overflow: auto;
    max-height: 25vh;
    word-wrap: break-word;
  }
  &-control {
    text-align: center;
    padding-bottom: 1rem;
  }
  &-cancel {
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: var(--grey_100);
    color: var(--white_0);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-right: 1rem;
    cursor: pointer;
  }
  &-update {
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: var(--white_0);
    color: var(--black_0);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  &-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &-loader .loader {
    width: 72px;
    height: 72px;
  }
}
