@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@400;500;700&display=swap");

@import "../views/Main/Main.scss";
@import "../components/TaskPopup/TaskPopup.scss";
:root {
  //colors
  --black_0: #333333;
  --black_1: rgba(35, 35, 35, 0.5);
  --white_0: #fff;
  --grey_100: #808080;
  --purple_100: #5a30f0;

  // fonts

  --roboto: "Roboto", sans-serif;
  --lobster: "Lobster", cursive;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: var(--roboto);
  font-size: 16px;
}

.loader {
  width: 24px;
  height: 24px;
  border: 5px solid var(--white_0);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
