@import "../views/Main/Main.scss";
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@400;500;700&display=swap");

:root {
  //colors
  --black_0: #333333;
  --white_0: #fff;

  // fonts

  --roboto: "Roboto", sans-serif;
  --lobster: "Lobster", cursive;
}

body {
  font-family: var(--roboto);
}
